<h1 style="color:white">Inserir usuarios</h1>
<!--@author: Ruann Campos
*@package: views/users
-->

    <form action="<?=$GLOBALS['project_index'];?>/controllers/users.php" method="POST" class="caixa-menu">
      <input type="hidden" name="action" value="add">
    		
        	<input type="text" name="nome" placeholder="nome"><br>

        	<input type="text" name="sobrenome" placeholder="sobrenome"><br>

        	<input type="email" name="email" placeholder="email"><br>

        	<input type="text" name="login" placeholder="login"><br>

        	<input type="password" name="senha" placeholder="senha"><br>

        	<button class="botao-envia">enviar</button>
        	
    </form>
